// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  height: 100%;
  width: 100%;
  display: table;
  background-color: #f3f3ee;
  background-blend-mode: lighten;
  background-size: 100% 100%;
  position: relative;
}

.row {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table_show {
  color: #000000;
  text-decoration: none;
  line-height: 30px;
  margin-bottom: 30px;
  padding-left: 80px;
}

.table_visit {
  color: #000000;
  text-decoration: none;
  line-height: 30px;
  margin-top: 12px;
  padding-left: 60px;
}

.mt-3 {
  margin-top: 30px;
}
