<div class="container_reservation">
  <h3 class><%= @car.car_name %>の新規予約</h3>
  <div class="back-button">
    <%= link_to "← 戻る",:back %>
  </div>
  <div class="row_reservation">
      <div class="col-12">
        <h1>予約画面</h1>
        <p>3ヶ月先まで予約することができます。</p>
      </div>
      <div class="col-12 mt-3">
        <%= week_calendar events: @reservations do |date, reservations| %>
          <%= date.day %>
        <% end %>
      </div>
  </div>
</div>
